body {
  font-family: 'Roboto', sans-serif;
}

.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.loader {
  margin-left: 170px;
  width: 48px;
  height: 48px;
  border: 5px solid #333;
  border-bottom-color: #ff3d00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.breed-select {
  position: relative;
  top: 30px;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
  width: 400px;
  height: 400px;

  margin-top: 40px;
  margin-right: 40px;
}
.cat-info {
  display: flex;
}
.about-container {
  position: relative;
  top: 15px;
}

span {
  font-size: 20px;
  font-weight: 700;
}
